:root {
  --color-fuente: #000;
  --color-fondo: #fff;
  --font-size: 18px;
  --calcula: -webkit-linear-gradient(left, gray, black, gray, black);
}
/*TEMAS WEB*/
[tema="lightgrande"] {
  --color-fuente: #000;
  --color-fondo: #fff;
  --font-size: 30px;
  --calcula: -webkit-linear-gradient(left, gray, white, gray, white);
}
[tema="darkgrande"] {
  --color-fuente: #fff;
  --color-fondo: #000;
  --font-size: 30px;
  --calcula: -webkit-linear-gradient(left, gray, black, gray, black);
}
[tema="lightnormal"] {
  --color-fuente: #000;
  --color-fondo: #fff;
  --font-size: 18px;
  --calcula: -webkit-linear-gradient(left, gray, white, gray, white);
}
[tema="darknormal"] {
  --color-fuente: #fff;
  --color-fondo: #000;
  --font-size: 18px;
  --calcula: -webkit-linear-gradient(left, gray, black, gray, black);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  color: var(--color-fuente);
  background-color: var(--color-fondo);
}
/* botones de Accesibilidad */
.page-header {
  position: fixed;
  width: min(70px, 15vw);
  height: 200px;
  margin: 2vw;
  z-index: 10;
  color: var(--color-fuente);
  background-color: transparent;
}
/*Botón para menú desplegable en responsive*/
.menu-icon {
  display: none;
  cursor: pointer;
  color: var(--color-fuente);
}
.nav-bar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/*Boton/enlace modo oscuro y lupa para modo oscuro*/
.nav-bar a {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: calc(100%/3);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--color-fuente);
  background-color: transparent;
}
.nav-bar a:hover {
  background: darkcyan;
  color: #c09b22;
}
.btn-mode {
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color 5s;
}
.btn-mode span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 2%;
}
.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 135px repeat(5, 70px);
  padding: 15px;
  gap: 0.4rem;
  background: var(--calcula);
  box-shadow: 5px 5px 10px var(--color-fuente);
  border-radius: 35px 35px 35px 35px;
}
.display {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
  padding: 16px;
  overflow: hidden;
  border: none;
  border-radius: 180px;
  box-shadow: 5px 5px 10px var(--color-fuente);
}
#result {
  font-size: 40px;
  color: var(--color-fuente);
  background-color: var(--color-fondo);
}
button {
  cursor: pointer;
  border: none;
  font-size: var(--font-size);
  color: var(--color-fuente);
  background-color: var(--color-fondo);
  border-radius: 200px;
  box-shadow: 0 3px var(--color-fuente);
}
button:hover {
  background-color: var(--color-fondo);
}
button:active {
  background-color: var(--color-fondo);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.col-2 {
  grid-column: span 2;
}

/*ventana emergente*/
.ventana{
  background-color:var(--color-fondo);
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
  .modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  margin-top: 100px;
  top:-250px;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
.modal a{
  font-size: var(--font-size);
  color: black;
  text-decoration: none;}
#IrVentanaFlotante:target{
  opacity:1;
  pointer-events:auto;
}

/*footer*/
 .page-footer {
   position: absolute;
   margin-top: 20px;
   padding-top: 20px;
   color:var(--color-fuente);
   bottom: 0;
   width: 100%;
   max-height: 100px;
   background-color: transparent;
 }
 .page-footer a{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: calc(100%/3);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--color-fuente);
  background-color: transparent;
 }
/*Barra navegación*/
@media all and (max-width: 600px) {
  .nav-bar {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 35px;
    background-color: var(--bgcolor);
  }
  .nav-bar.responsive {
    display: inline;
  }
  .nav-bar a {
    display: block;
  }
  .menu-icon {
    display: inline;
    position: absolute;
    text-align: center;
    width: 100%;
    height: max-content;
    font-size: 30px;
    z-index: 1;
  }
  .display {
    min-width: 250px;
  }
  .contenedor, .calculadora {
    min-width: 300px;
    max-height: 600px;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  #footer{
    bottom: 0;
  }
}
